body {
	background-image: url(images/newBG.jpg);
	background-attachment: fixed;
	font-family: 'Amatic SC', serif;
}

.container {
	background-color: #fafafa;
	min-height: 100%;
	max-width: 960px;
	color: #000000;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

/* ------------------------------------------- header & nav */

.header {
	background-color: #2a1a35;
	padding: 10px 25px;
}

.s-title {
	color: #fafafa;
	display: inline;
	font-size: 42px;
}

.title-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.s-nav {
	display: none;
}

.s-nav a {
	color: #fafafa;
	font-size: 24px;
}

.s-nav li {
	text-align: center;
	padding: 5px;
}

.x-icon {
	display: none;
}

.m-title {
	color: #fafafa;
	font-size: 88px;
}

.m-nav li {
	display: inline;
}

.m-nav a{
	color: #fafafa;
	font-size: 32px;
	padding: 10px;
}

.m-nav a:hover {
	border-bottom: 1px solid #fafafa;
}

.underline {
	border-bottom: 1px solid #fafafa;
}

/* --------------------------------------- comic-container */

h2 {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}

.giant {
	font-size: 125px;
}

.comic-container {
	width: 100%;
	flex: 1 0 auto;
	padding: 20px;
}

.head {
	background-color: #292929;
	padding: 20px 0;
	color: #fafafa;
	margin-bottom: 20px;
	font-size: 24px;
	box-shadow: 0px 2px 10px 1px #000000;
}

.card {
	background-color: #acacac;
	padding: 10px;
	font-size: 24px;
	margin-bottom: 20px;
	box-shadow: 0px 2px 10px 1px #000000;
}

.card:last-child {
	margin-bottom: 0px;
}

.card li {
	list-style-type: circle;
	margin-left: 60px;
	font-family: 'Barlow Condensed';
}

.card h3 {
	font-size: 28px;
	font-weight: bold;
}

.card p {
	font-family: 'Barlow Condensed';
	text-align: justify;
}

/* --------------------------------------------- about */

.avatar {
	border: 1px solid #292929;
	height: 350px;
	width: 350px;;
}

.about-icon {
	height: 40px;
}

/* ---------------------------------------- characters */
.portrait {
	
}

.player h3 {
	text-decoration: underline;
	text-align: center;
}

.player > * {
	margin: 5px 0;
}


/* ------------------------------------------- chronicles */
.slide-out {
	position: absolute;
	left: -280px;
	background-color: rgba(0,0,0,0.9);
	width: 300px;
	height: 100%;
	transition: left 1s;
}

.arrow {
	position: absolute;
	right: 0;
	top: 48%;
}


/* ----------------------------------------- pronunciation*/
.pro li {
	padding: 10px 0;
	list-style: none;
	margin: 0;
	border-bottom: 1px solid black;
}


/* ---------------------------------------------- contact*/
.contact-icons img {
	height: 100px;
	padding: 10px;
	border-radius: 10px;
}

.contact-icons img:hover {
	background-color: #fafafa;
}


/* ------------------------------------------ footer*/
.footer {
	background-color: #2a1a35;
	padding: 20px 0;
	text-align: center;
	color: #fafafa;
	flex-shrink: 0;
}


/* -------------------------------- media queries */

@media (min-width: 300px) {
	.m-header {
		display: none;
	}
}

@media (min-width: 768px) {
	.header {
	padding: 35px;	
	text-align: center;
	}
	
	.s-header {
		display: none;
	}
	
	.m-header {
		display: inherit;
	}
	
	.footer {
		font-size: 20px;
	}
}