.about {
	.avatar {
		border: 1px solid #292929;
		// height: 350px;
		// width: 350px;
		max-width: 100%;
		border-radius: 50%;
	}

	.about-icon {
		height: 40px;
	}

	p,
	li {
		font-size: 24px;
	}

	h3 {
		font-size: 36px;
	}
}
