.contact-icons img {
	height: 100px;
	padding: 10px;
	border-radius: 10px;
}

.contact-icons img:hover {
	background-color: #fafafa;
}

.contact h3 {
	font-size: 28px;
}

.contact p {
	font-size: 20px;
}
