header {
	background-color: #2a1a35;
	padding: 10px 25px;

	.navbar {
		a {
			color: $white;
		}
	}

	.nav-logo {
		font-size: 36px;
	}

	.nav-icon {
		top: 25px;
    right: 10px;
		
		i {
			color: $white;
		}
	}

	.nav-list {
		background-color: $purple;
		li {
			margin: 10px;
		}
		a {
			padding: 10px;
			font-size: 24px;
		}
	}
}
