$dark: #131115;
$gray-dark: #6a626a;
$gray-light: #bfb4bf;
$light: #fff1fe;
$purple: #70467b;
$pink: #f85cd6;
$yellow: #C9BF4D;

$gap: 15px;

$xs: 0;
$sm: 500px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
